<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'personal_space/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle ='collapse' data-target="#topNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'personal_space:index' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Virtual_Mind
            </a>
        </div>
        <!--items-->
        <div class="collapse navbar-collapse" id="topNavbar ">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        <span class="caret" aria-hidden="true"></span>&nbsp;
                        Categories
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;
                        Forum
                    </a>
                </li>
                <li>
                    <form class="navbar-form navbar-left" action="#" method="get" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value=""/>
                        </div>
                        <button type="submit" class="btn btn-default" >Search</button>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href='{% url 'personal_space:create_topic' %}'>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Add Topics
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                        Timer
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!--Menu Items-->
        <!--Search Bar-->
    </div>
</nav>

    {% block content %}
    {% endblock  %}
</body>
</html>